Flask
gunicorn
Werkzeug
google-genai
google-api-core==2.11.1
google-auth==2.23.0
google-cloud-core==2.3.2
google-cloud-datastore==2.15.0
googleapis-common-protos==1.60.0
grpcio==1.59.0
Pillow
google-cloud-firestore
firebase-admin